<table style="font-size: small;">
<tr>
	<th>Rank</th>
	<th>Model</th>
	<th colspan="4">StereoSet SS</th>
	<th colspan="4">CrowS-Pairs SS</th>
    <th>SEAT <i>(Overall)</i></th>
    <th>StereoSet LMS <i>(Overall)</i></th>
    <th>StereoSet ICAT <i>(Overall)</i></th>
</tr>
<tr>
	<th></th>
	<th></th>
	<th>Gender</th>
	<th>Race</th>
	<th>Religion</th>
	<th>Overall</th>
    <th>Gender</th>
	<th>Race</th>
	<th>Religion</th>
	<th>Overall</th>
	<th></th>
    <th></th>
    <th></th>
</tr>
<tr>
    <td>1<br><i>(April 4, 2022)</i></td>
    <td>BERT + Self-Debias <i>(Ensemble)</i><br><a href="https://arxiv.org/abs/2110.08527">(McGill / Mila)</a></td>
    <td>59.34</td>
    <td>54.30</td>
    <td>57.26</td>
    <td>55.47</td>
    <td>52.29</td>
    <td>56.70</td>
    <td>56.19</td>
    <td>55.26</td>
    <td>-</td>
    <td>84.19</td>
    <td>74.98</td>
</tr>
<tr>
    <td>2<br><i>(April 4, 2022)</i></td>
    <td>GPT-2 + Self-Debias <i>(Ensemble)</i><br><a href="https://arxiv.org/abs/2110.08527">(McGill / Mila)</a></td>
    <td>60.84</td>
    <td>57.33</td>
    <td>60.45</td>
    <td>58.20</td>
    <td>56.11</td>
    <td>53.29</td>
    <td>58.10</td>
    <td>54.69</td>
    <td>-</td>
    <td>89.63</td>
    <td>74.92</td>
</tr>
<tr>
    <td>3<br><i>(April 4, 2022)</i></td>
    <td>GPT-2 + CDA <i>(Ensemble)</i><br><a href="https://arxiv.org/abs/2110.08527">(McGill / Mila)</a></td>
    <td>64.02</td>
    <td>57.31</td>
    <td>63.55</td>
    <td>59.05</td>
    <td>56.87</td>
    <td>60.66</td>
    <td>51.43</td>
    <td>58.43</td>
    <td>0.259</td>
    <td>90.24</td>
    <td>73.98</td>
</tr>
<tr>
    <td>4<br><i>(April 4, 2022)</i></td>
    <td>GPT-2 + Dropout<br><a href="https://arxiv.org/abs/2110.08527">(McGill / Mila)</a></td>
    <td>63.35</td>
    <td>57.50</td>
    <td>64.17</td>
    <td>59.04</td>
    <td>57.63</td>
    <td>60.47</td>
    <td>52.38</td>
    <td>58.66</td>
    <td>0.266</td>
    <td>90.18</td>
    <td>73.86</td>
</tr>
<tr>
    <td>5<br><i>(April 4, 2022)</i></td>
    <td>GPT-2<br><a href="https://arxiv.org/abs/2110.08527">(McGill / Mila)</a></td>
    <td>62.65</td>
    <td>58.90</td>
    <td>63.26</td>
    <td>59.90</td>
    <td>56.87</td>
    <td>59.69</td>
    <td>62.86</td>
    <td>59.22</td>
    <td>0.313</td>
    <td>91.17</td>
    <td>73.12</td>
</tr>

<tr>
    <td>6<br><i>(April 4, 2022)</i></td>
    <td>BERT<br><a href="https://arxiv.org/abs/2110.08527">(McGill / Mila)</a></td>
    <td>60.28</td>
    <td>57.03</td>
    <td>59.70</td>
    <td>57.82</td>
    <td>57.25</td>
    <td>62.33</td>
    <td>62.86</td>
    <td>60.81</td>
    <td>0.590</td>
    <td>84.36</td>
    <td>71.15</td>
</tr>
<tr>
    <td>7<br><i>(April 4, 2022)</i></td>
    <td>BERT + CDA <i>(Ensemble)</i><br><a href="https://arxiv.org/abs/2110.08527">(McGill / Mila)</a></td>
    <td>59.61</td>
    <td>57.73</td>
    <td>58.37</td>
    <td>57.39</td>
    <td>56.11</td>
    <td>56.70</td>
    <td>60.00</td>
    <td>56.85</td>
    <td>0.557</td>
    <td>83.17</td>
    <td>70.87</td>
</tr>
<tr>
    <td>8<br><i>(April 4, 2022)</i></td>
    <td>BERT + Dropout<br><a href="https://arxiv.org/abs/2110.08527">(McGill / Mila)</a></td>
    <td>60.66</td>
    <td>57.07</td>
    <td>59.13</td>
    <td>57.90</td>
    <td>55.34</td>
    <td>59.03</td>
    <td>55.24</td>
    <td>57.41</td>
    <td>0.586</td>
    <td>82.94</td>
    <td>69.83</td>
</tr>
</table>
